html, body, .padding {
  min-height: 100vh;
}

a {
  text-decoration:none;
  color: inherit;
}


.navbar, .btn, .row .landing-text {
  background-color: rgba(0, 0, 0, 0.5);
}

.row .inner-landing-text{
  background: rgba(0, 0, 0, 0.5);
}

/* #home {
  background: url(../assets/sunburst.png) no-repeat center center fixed;
  background-size: cover;
} */

#particles-js {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.skillset-col {
  white-space: nowrap;
}
