.section-div {
    padding: 15% 0;
}

.section-title {
    padding-bottom: 5%;
    font-family: 'IBM Plex Serif', serif;
}

#splash {
    background-color: #0b0c10;
}

#my-photo {
    opacity: 0.25;
    position: absolute;
    margin: 7% 0;
}

#my-name {
    color: #66fcf1;
    font-family: 'Share Tech Mono', monospace;
    position: absolute;
    margin-top: 25%;
}

#about-me {
    background-color: #1f2833;
    color: #45a29e;
    padding-left: 5%;
    padding-right: 5%;
}

#contact {
    border-top: #212529 0.5em solid ;
    background-color: #c5c6c7;
    color: #1f2833;
}

#find-me {
    background-color: #1f2833;
    color: #45a29e;
    padding: 3em 0;
}

.icon-link {
    color: #45a29e;
    padding: 0.25em;
}

#foot {
    padding: 30px 0;
    background-color: #0b0c10;
    color: #66fcf1;
}