html, body, .padding {
  min-height: 100vh;
}

a {
  text-decoration:none;
  color: inherit;
}

a:hover {
  color: black;
  text-decoration:none;
  cursor:pointer;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-nav:hover, .btn-nav:focus, .btn-nav:active, .btn-nav.active, .open>.dropdown-toggle.btn-nav {
  color: #f8f9fa !important;
  border-color: #f8f9fa;
}

.landing-text {
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.down-arrow-row {
  position: absolute;
  bottom: 15vh;
  margin: auto;
}

.arrow {
  -webkit-animation: arrowbounce 1s linear infinite;
  -moz-animation:    arrowbounce 1s linear infinite;
  -o-animation:      arrowbounce 1s linear infinite;
  animation:         arrowbounce 1s linear infinite;
  position: relative;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

@keyframes arrowbounce {
  0%, 100% { top: 0px }
  50% { top: 20px }
}

/* #home {
  background: url(../assets/sunburst.png) no-repeat center center fixed;
  background-size: cover;
} */

#particles-js {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.skillset-col {
  white-space: nowrap;
}

.main-card {
  margin-bottom: 15px;
}

.form-control {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
}

.form-control:focus {
  background: #343a40;
  color: white;
  border-bottom: 4px solid white;
  box-shadow: none;
}

.alert {
  display: none;
}
