html {
  height: 100%;
  min-width: 1000px;
  min-height: 700px;
}

body {
  background-image: url("US_night.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  font-size: 16px;
}

.flag-icon {
  background-size: contain;
  position: fixed;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 20px;
  margin: 5px;
  top: 0;
}

.flag-icon-es {
  background-image: url("es.svg");
  margin-left: 85px;
}

.flag-icon-fr {
  background-image: url("fr.svg");
  margin-left: 180px;
}

.fa, .fa:before {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: fixed;
  z-index: 2;
  font-size: 50px;
  top: 2px;
}

.fa-github {
  margin-left: 280px;
  margin-top: 6px;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-left: 370px;
  margin-top: 7px;
}

.fa:hover, .flag-icon:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(67,77,86,0.8);
  position: fixed;
  z-index: 1;
  min-width: 840px;
  top: 0;
}

li {
  float: right;
  padding: 20px;
  text-decoration: none;
}

li:hover {
  background-color: rgba(0,153,0, 0.9);
  border: 1px solid white;
}

.link {
  text-decoration: none;
  color: white;
}

.profile {
  height: 150px;
  width: 100px;
  max-width: 250px;
  min-width: 175px;
  position: absolute;
  top: 150px;
  left: 160px;
  border-radius: 50%;
  z-index: 1;
}

h1 {
  position: absolute;
  top: 80px;
  margin: 0 50px 0 54px;
  text-align: center;
  width: 400px;
  min-width: 100px;
  border: 3px;
  border-style: solid;
  border-color: white;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
}

.main {
  height: 290px;
  width: 390px;
  top: 43px;
  border-width: 2px;
  border-style: solid;
  padding: 280px 30px 20px 30px;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  margin-left: 30px;
  float: left;
}

.name {
  position: absolute;
  margin-top: 600px;
  margin-left: 300px;
  font-family: 'Dancing Script', cursive;
}