<div class="contact container h-100">
  <div *ngIf="hasContactMap" class="locations container text-center">
    <h3 class="location-title">Find me here!</h3>
    <div>
      <img src="https://dummyimage.com/600x400/000/fff" alt="Locations Map">
    </div>
    <div class="cities-container">
      <div class="city">NYC Area, USA</div>
      <div class="city">Paris, France</div>
    </div>
  </div>
  <div class="connect container">
    <h2>Connect!</h2>
    <div class="icons">
      <a href="https://github.com/lematty" class="icon p-3">
        <fa-icon [icon]="faGithub" size="4x"></fa-icon>
      </a>
      <a href="https://fr.linkedin.com/in/lematty" class="icon p-3">
        <fa-icon [icon]="faLinkedin" size="4x"></fa-icon>
      </a>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-text text-muted">Copyright © Chris LeMatty 2020</div>
  </div>
</div>
