@import '~src/styles/colors';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .locations {
    flex-direction: column;
    align-items: center;

    .location-title{
      padding: 20px;
    }

    .cities-container {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;

      .city {
        padding: 10px;
        cursor: pointer;
      }

      .city:hover {
        color: @highlights;
      }
    }
  }

  .footer-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}

.connect {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .icons {
    padding: 20px;
    .icon {
      padding: 10px;
      color: inherit;
      cursor: pointer;
    }

    .icon:hover {
      color: @highlights;
    }
  }
}

