@import '~src/styles/colors';

nav {
  z-index: 1;
  background-color: @background;
}

.navbar-brand {
  color: @highlights;
}

.nav-item-text:hover {
  cursor: pointer;
  border-bottom: 2px solid @highlights;
}

.active {
  color: @highlights;
}

.underline {
  border-bottom: 2px solid @highlights;
}
