<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="#">&#123; lematty &#125;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li *ngIf="hasHomePage" class="nav-item" [ngClass]="{ 'active': activePage === Page.Home }">
        <a class="nav-link" href="#" (click)="changePage(Page.Home)">
          <span class="py-2" [ngClass]="{ 'underline': activePage === Page.Home }">Home</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activePage === Page.About }">
        <a class="nav-link" href="#" (click)="changePage(Page.About)">
          <span class="py-2" [ngClass]="{ 'underline': activePage === Page.About }">About</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activePage === Page.Projects }">
        <a class="nav-link" href="#" (click)="changePage(Page.Projects)">
          <span class="py-2" [ngClass]="{ 'underline': activePage === Page.Projects }">Projects</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activePage === Page.Contact }">
        <a class="nav-link" href="#" (click)="changePage(Page.Contact)">
          <span class="py-2" [ngClass]="{ 'underline': activePage === Page.Contact }">Contact</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
