<nav class="navbar navbar-expand-sm navbar-dark" (clickoutside)="closeNavbar()">
  <a class="navbar-brand" href="#">&#123; lematty &#125;</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleNavbar()"
    data-toggle="collapse"
    data-target="#dropdownMenu"
    >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" aria-labelledby="dropdownMenu" [ngClass]="{ 'show': isNavbarOpen }">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="{ 'active': activePage === Page.Home }">
        <a class="nav-link" (click)="changePage(Page.Home)">
          <span class="py-2 nav-item-text" [ngClass]="{ 'underline': activePage === Page.Home }">Home</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activePage === Page.About }">
        <a class="nav-link" (click)="changePage(Page.About)">
          <span class="py-2 nav-item-text" [ngClass]="{ 'underline': activePage === Page.About }">About</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activePage === Page.Projects }">
        <a class="nav-link" (click)="changePage(Page.Projects)">
          <span class="py-2 nav-item-text" [ngClass]="{ 'underline': activePage === Page.Projects }">Projects</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activePage === Page.Contact }">
        <a class="nav-link" (click)="changePage(Page.Contact)">
          <span class="py-2 nav-item-text" [ngClass]="{ 'underline': activePage === Page.Contact }">Contact</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
