<div class="home">
  <div id="particles-js">
    <div class="terminal-container">
      <div class="terminal-header">
        <div class="terminal-buttons">
          <div class="close-button terminal-button"></div>
          <div class="minimize-button terminal-button"></div>
          <div class="fullscreen-button terminal-button"></div>
        </div>
      </div>
      <div class="terminal-main">
        <div>
          <span class="terminal-text-user">{{ terminalStart }}&#32;</span>
          <span class="terminal-text"></span>
        </div>
      </div>
    </div>
  </div>
</div>
