@import '../../../styles/colors.less';

.home {
  position: relative;

  #particles-js {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .terminal-container {
      height: 40vh;
      width: 40vw;
      min-width: 300px;
      padding: 5px;
      border-radius: 10px;
      position: absolute;
      font-family: "Lucida Grande", sans-serif;

      .terminal-header {
        display: flex;
        background-color: #f8f8f8;
        background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
        text-shadow: rgb(255 255 255 / 80%) 0px 1px 0px;
        border-bottom: #6a6a6a 1px solid;
        border-radius: 5px 5px 0 0;
        padding: 5px;
        height: 5vh;

        .terminal-buttons {
          display: flex;
          align-items: center;
          padding: 0 5px;

          .terminal-button {
            padding: 7px;
            margin: 0 5px;
            height: 5px;
            border-radius: 25px;
          }
          
          .close-button {
            background-color: #FF605C;
          }
          .minimize-button {
            background-color: #FFBD44;
          }
          .fullscreen-button {
            background-color: #00CA4E;
          }
        }
      }

      .terminal-main {
        height: 30vh;
        background-color: rgba(0, 0, 0, 0.65);
        display: flex;
        border-radius: 0 0 5px 5px;
        padding: 10px 15px;

        .terminal-text-user {
          color: @highlights;
        }
      }
    }
  }
}
